<form class="flex flex-col gap-6 max-w-2xl w-11/12 mx-auto p-8 bg-gray-100 rounded-xl shadow-xl" data-netlify="true">
    <label class="text-lg text-gray-800" for="first-name">First Name</label>
    <input class="p-3 border border-gray-400 rounded-lg text-lg bg-white text-gray-800" id="first-name" type="text" name="first-name" required />
  
    <label class="text-lg text-gray-800" for="last-name">Last Name</label>
    <input class="p-3 border border-gray-400 rounded-lg text-lg bg-white text-gray-800" id="last-name" type="text" name="last-name" required />
  
    <label class="text-lg text-gray-800" for="phone">Phone Number</label>
    <input class="p-3 border border-gray-400 rounded-lg text-lg bg-white text-gray-800" id="phone" type="tel" name="phone" required />
  
    <label class="text-lg text-gray-800" for="email">Email</label>
    <input class="p-3 border border-gray-400 rounded-lg text-lg bg-white text-gray-800" id="email" type="email" name="email" required />
  
    <label class="text-lg text-gray-800" for="description">Tell us about your needs</label>
    <textarea class="p-3 border border-gray-400 rounded-lg text-lg bg-white text-gray-800" id="description" name="description" rows="5" required></textarea>
  
    <button class="p-3 bg-gray-700 text-white text-lg rounded-lg hover:bg-gray-800 transition">Submit</button>
  </form>
  