<footer class="text-center p-6 bg-gray-800 text-gray-200 border-t-4 border-gray-600">
    <p>
      Interested in learning more? <a class="text-gray-400 hover:underline" href="https://www.linkedin.com/company/el-roh-tehnologies" target="_blank">Connect with us on LinkedIn</a>.
    </p>
  </footer>
  